USE [master]
GO
/****** Object:  Database [Man_TestAPI]    Script Date: 24/04/2026 8:43:00 AM ******/
CREATE DATABASE [Man_TestAPI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Man_TestAPI', FILENAME = N'c:\sqldata\sql2017\Man_TestAPI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Man_TestAPI_log', FILENAME = N'c:\sqldata\sql2017\Man_TestAPI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Man_TestAPI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Man_TestAPI]
GO
/****** Object:  Table [dbo].[Timesheets]    Script Date: 24/04/2026 8:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timesheets](
	[Id] [bigint] NULL,
	[TimesheetDate] [datetime2](7) NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[IsInProgress] [varchar](8) NULL,
	[Employee] [bigint] NULL,
	[totalTime] [decimal](18, 0) NULL,
	[totalTimeInv] [decimal](18, 0) NULL,
	[Cost] [decimal](18, 0) NULL,
	[TimeApproved] [varchar](8) NULL,
	[OperationalUnitName] [varchar](200) NULL,
	[CompanyName] [varchar](200) NULL,
	[PayrollExportName] [varchar](200) NULL,
	[DisplayName] [varchar](200) NULL,
	[FirstName] [varchar](200) NULL,
	[LastName] [varchar](200) NULL,
	[Created] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timesheets_tmp]    Script Date: 24/04/2026 8:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timesheets_tmp](
	[Id] [bigint] NULL,
	[TimesheetDate] [datetime2](7) NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[IsInProgress] [varchar](8) NULL,
	[Employee] [bigint] NULL,
	[totalTime] [decimal](18, 0) NULL,
	[totalTimeInv] [decimal](18, 0) NULL,
	[Cost] [decimal](18, 0) NULL,
	[TimeApproved] [varchar](8) NULL,
	[OperationalUnitName] [varchar](200) NULL,
	[CompanyName] [varchar](200) NULL,
	[PayrollExportName] [varchar](200) NULL,
	[DisplayName] [varchar](200) NULL,
	[FirstName] [varchar](200) NULL,
	[LastName] [varchar](200) NULL,
	[Created] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBusinessDetails_KP]    Script Date: 24/04/2026 8:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[sp_GetBusinessDetails_KP]
AS
BEGIN
SET NOCOUNT ON;

Declare @Response Table (Json_Table nvarchar(max))
Insert @Response exec sp_RunAPICall_KP 'https://api.yourpayroll.com.au/api/v2/business'



SELECT *
FROM OPENJSON((select Json_Table from @Response))
WITH (
Id bigint '$.id',
Name nvarchar(max) '$.name'
)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBusinessLocations]    Script Date: 24/04/2026 8:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[sp_GetBusinessLocations] -- deputy
AS
BEGIN
SET NOCOUNT ON;

Declare @Response Table (Json_Table nvarchar(max))
Insert @Response exec sp_RunAPICall_DP 'https://0edf0a04034615.au.deputy.com/api/v1/resource/Company'

-- 'https://api.yourpayroll.com.au/api/v2/business'


SELECT *
FROM OPENJSON((select Json_Table from @Response))
--WITH (
--Id bigint '$.id',
--Name nvarchar(max) '$.name'
--)

end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBusinessLocations_DP]    Script Date: 24/04/2026 8:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[sp_GetBusinessLocations_DP] -- deputy
AS
BEGIN
SET NOCOUNT ON;

Declare @Response Table (Json_Table nvarchar(max))
Insert @Response exec sp_RunAPICall_DP 'https://0edf0a04034615.au.deputy.com/api/v1/resource/Company'

-- 'https://api.yourpayroll.com.au/api/v2/business'


SELECT *
FROM OPENJSON((select Json_Table from @Response))
WITH (
Id bigint '$.Id',
Code nvarchar(max) '$.Code',
Active nvarchar(12) '$.Active'
)

end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmployeeDetails]    Script Date: 24/04/2026 8:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[sp_GetEmployeeDetails]
AS
BEGIN
SET NOCOUNT ON;

-- exec [sp_GetEmployeeDetails]

Declare @baseUrl nvarchar(max) = 'https://api.yourpayroll.com.au/api/v2/business/263657/Employee?$skip='
Declare @Response Table (Json_Table nvarchar(max))


DECLARE @stop bit = 0
WHILE (@stop = 0)
BEGIN
Declare @url nvarchar(max)
set @url = @baseUrl + (select cast(count(*) as nvarchar(max)) from @Response d CROSS APPLY OPENJSON(d.Json_Table))
Insert @Response exec sp_RunAPICall_KP @url
SET @stop = case when (select count(*) from @Response d CROSS APPLY OPENJSON(d.Json_Table)) = 0 or (select count(*) from @Response d CROSS APPLY OPENJSON(d.Json_Table)) % 100 <> 0 then 1 else 0 end
END


SELECT json.*
FROM @Response d CROSS APPLY OPENJSON(d.Json_Table)
WITH (
Id bigint '$.id',
FirstName nvarchar(max) '$.firstName',
Surname nvarchar(max) '$.surname'
) json


END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTimeSheets_DP]    Script Date: 24/04/2026 8:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[sp_GetTimeSheets_DP] -- deputy
AS
BEGIN
SET NOCOUNT ON;

Declare @baseUrl nvarchar(max) = 'https://0edf0a04034615.au.deputy.com/api/v1/resource/Timesheet/QUERY'
Declare @Response Table (Json_Table nvarchar(max))

--Insert @Response exec sp_RunAPICall_DP @url='https://0edf0a04034615.au.deputy.com/api/v1/resource/Timesheet/QUERY' ,@type='post' ,@body='{start : 0}'


DECLARE @stop bit = 0
WHILE (@stop = 0)
BEGIN
Declare @url nvarchar(max),@body nvarchar(max) , @cnt int
--set @url = @baseUrl + (select cast(count(*) as nvarchar(max)) from @Response d CROSS APPLY OPENJSON(d.Json_Table))
set @cnt = (select cast(count(*) as nvarchar(max)) from @Response d CROSS APPLY OPENJSON(d.Json_Table))
set @body = '{"start":'+ (select cast(count(*) as nvarchar(max)) from @Response d CROSS APPLY OPENJSON(d.Json_Table)) +'}'
RAISERROR (N'Count.. %d', 10, 1, @cnt)
Insert @Response exec sp_RunAPICall_DP @url=@baseurl, @type='post' ,@body=@body
--SET @stop = case when (select count(*) from @Response d CROSS APPLY OPENJSON(d.Json_Table)) = 0 or (select count(*) from @Response d CROSS APPLY OPENJSON(d.Json_Table)) % 500 <> 0 then 1 else 0 end
SET @stop = 1
END


select [KEY], value, JSON_Value(value,'$.Date') as  TimesheetDate,
JSON_Value(value,'$.AreaExportCode') as AreaExprtCode,

JSON_Value(value,'$.OperationalUnitInfo.Id') OpId, --XXX
JSON_Value(value,'$.OperationalUnitInfo.OperationalUnitName') OpName --XXX

 from @Response d CROSS APPLY OPENJSON(d.Json_Table) x

/*
select * from @Response d CROSS APPLY OPENJSON(TimesheetDate) x


SELECT *
FROM  @Response d CROSS APPLY OPENJSON((select Json_Table from @Response))
--WITH (
--Id bigint '$.Id',
--Code nvarchar(max) '$.Code',
--Active nvarchar(12) '$.Active'
--)

WITH
(
[Display Name] nvarchar(max) '$.DisplayName',
[Timesheet Date] date '$.TimesheetDate',
[Timesheet Start Time] time '$.TimesheetStartTime',
[Timesheet End Time] time '$.TimesheetEndTime',
[Timesheet Meal Break (Total)] decimal '$.TimesheetMealBreak(Total)',
[Timesheet Total Time] decimal '$.TimesheetTotalTime',
[Total Cost] decimal '$.TotalCost',
[Employee Comment] nvarchar(max) '$.EmployeeComment',
[Area Export Code] nvarchar(max) '$.AreaExportCode',
[Area Name] nvarchar(max) '$.AreaName',
[Location Code] nvarchar(max) '$.LocationCode',
[Location Name] nvarchar(max) '$.LocationName',
[Leave Comment] nvarchar(max) '$.LeaveComment',
[Leave Manager Comment] nvarchar(max) '$.LeaveManagerComment',
[Last Name] nvarchar(max) '$.LastName',
[First Name] nvarchar(max) '$.FirstName',
[Timesheet Cost] decimal '$.TimesheetCost',
[Schedule Cost] decimal '$.ScheduleCost'

)
*/
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetWorkTypeDetails_DP]    Script Date: 24/04/2026 8:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[sp_GetWorkTypeDetails_DP]
AS
BEGIN
SET NOCOUNT ON;

Declare @Response Table (Json_Table nvarchar(max))
Insert @Response exec sp_RunAPICall 'https://api.yourpayroll.com.au/api/v2/business/263657/worktype'



SELECT *
FROM OPENJSON((select Json_Table from @Response))
WITH (
Id bigint '$.Id',
Code nvarchar(max) '$.Code'
)



END
GO
/****** Object:  StoredProcedure [dbo].[sp_RunAPICall]    Script Date: 24/04/2026 8:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_RunAPICall]
	@url nvarchar(max) = 'https://0edf0a04034615.au.deputy.com/api/v1/',
	--'https://api.yourpayroll.com.au/api/v2/business',

	@authHeader nvarchar(max) = 'b80985b0ee6f01b41e0144bee1a525d7'
	--'Basic T0dsSFprTkhRMkptUlVaeU1sQXZTMEpvVDFkNFpqTnBNa1JUV0dRMmVtdEhRbFp4ZEZkcVltbEROR1kxUjBoalJtNU1SSHB3UlRaUmIwZEVZa2hCYWc6'
AS
BEGIN
SET NOCOUNT ON;



Declare @Object as Int;
Declare @Response as table(Json_Table nvarchar(max));



Exec sp_OACreate 'MSXML2.ServerXMLHTTP.6.0', @Object OUT;
Exec sp_OAMethod @Object, 'open', NULL, 'get',
@url,
'false'
EXEC sp_OAMethod @Object, 'setRequestHeader', NULL, 'Authorization', @authHeader;
Exec sp_OAMethod @Object, 'send'
Exec sp_OAMethod @Object, 'responseText', @Response OUTPUT



exec sp_OAGetProperty @Object, 'responseText'

EXEC sp_OADestroy @Object

END
GO
/****** Object:  StoredProcedure [dbo].[sp_RunAPICall_DP]    Script Date: 24/04/2026 8:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec [dbo].[sp_RunAPICall_DP]

CREATE PROCEDURE [dbo].[sp_RunAPICall_DP]
	--@url nvarchar(max) = 'https://0edf0a04034615.au.deputy.com/api/v1/',
	@url nvarchar(max) = 'https://0edf0a04034615.au.deputy.com/api/v1/resource/Timesheet/QUERY',
	@authHeader nvarchar(max) = 'OAuth b80985b0ee6f01b41e0144bee1a525d7',
	@type nvarchar(max) = 'get',
	@body varchar(8000) = '{start:200, max: 50}'
AS
BEGIN
SET NOCOUNT ON;



Declare @Object as Int;
Declare @Response as table(Json_Table nvarchar(max));



Exec sp_OACreate 'MSXML2.ServerXMLHTTP.6.0', @Object OUT;
Exec sp_OAMethod @Object, 'open', NULL, @type, @url, 'false'

Exec sp_OAMethod @Object, 'setRequestHeader', null, 'Content-Type', 'application/json'

EXEC sp_OAMethod @Object, 'setRequestHeader', NULL, 'Authorization', @authHeader;

IF @type = 'post'
Exec sp_OAMethod @Object, 'send', null, @body
ELSE
Exec sp_OAMethod @Object, 'send'

print @body

Exec sp_OAMethod @Object, 'responseText', @Response OUTPUT

exec sp_OAGetProperty @Object, 'responseText'



EXEC sp_OADestroy @Object



END
GO
/****** Object:  StoredProcedure [dbo].[sp_RunAPICall_KP]    Script Date: 24/04/2026 8:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_RunAPICall_KP]
	@url nvarchar(max) = 'https://0edf0a04034615.au.deputy.com/api/v1/',
	--'https://api.yourpayroll.com.au/api/v2/business',

	--@authHeader nvarchar(max) = 'OAuth b80985b0ee6f01b41e0144bee1a525d7'
	@authHeader nvarchar(max) = 'Basic T0dsSFprTkhRMkptUlVaeU1sQXZTMEpvVDFkNFpqTnBNa1JUV0dRMmVtdEhRbFp4ZEZkcVltbEROR1kxUjBoalJtNU1SSHB3UlRaUmIwZEVZa2hCYWc6'
AS
BEGIN
SET NOCOUNT ON;



Declare @Object as Int;
Declare @Response as table(Json_Table nvarchar(max));



Exec sp_OACreate 'MSXML2.ServerXMLHTTP.6.0', @Object OUT;
Exec sp_OAMethod @Object, 'open', NULL, 'get', @url, 'false'
EXEC sp_OAMethod @Object, 'setRequestHeader', NULL, 'Authorization', @authHeader;
Exec sp_OAMethod @Object, 'send'
Exec sp_OAMethod @Object, 'responseText', @Response OUTPUT



exec sp_OAGetProperty @Object, 'responseText'

EXEC sp_OADestroy @Object

END
GO
USE [master]
GO
